@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
.main-slider {
  position: relative;
  width: 1134px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.main-slider-image {
  width: 100%;
  height: 380px;
  object-fit: fill;
}

.slider-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 30px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-title {
  font-family: "Philosopher", "Times New Roman", Times, serif, "Arial Narrow",
    Arial, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: start;
  margin: 0;
  line-height: 1.2;
  color: #0054a6;
}

.slider-controls {
  display: flex;
  gap: 10px;
}

.control-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
}
.control-button img {
  width: 30px;
  height: 30px;
  display: block;
}

.control-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slider-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  color: var(--gray-gray-600, #4d4d4d);
  text-overflow: ellipsis;
}

.slider-pagination {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.pagination-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-dot.active {
  width: 16px; /* Điều chỉnh kích thước icon */
  height: 16px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/phutho-tourist-e9654.appspot.com/o/icon_slider%2Ficon_slider.jpg?alt=media&token=ad702c49-e585-4d61-82a3-e3f738052df4");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pagination-dot:hover {
  background-color: #bbb;
}
