.postPageCard-card {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.postPageCard-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.postPageCard-content {
  padding: 10px;
}

.postPageCard-title {
  font-size: 18px;
  margin: 10px 0;
}

.postPageCard-author {
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center; /* Canh giữa vòng tròn và tên tác giả */
}

.status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #28a745; /* Màu xanh lá cây */
  margin-left: 5px; /* Khoảng cách giữa vòng tròn và tên tác giả */
}

.postPageCard-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #999;
}

.postPageCard-categories {
  margin-top: 10px;
}
