.postContent-list {
  flex: 1;
  margin: 0 20px 20px 20px;
}

.postContent-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.postContent-grid .post-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}

.postContent-grid .post-item:hover {
  transform: translateY(-5px);
}

.postContent-grid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.postContent-grid .postContent-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.postContent-grid .postContent-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.postContent-grid .postContent-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* Tùy chỉnh pagination */
.paginationPostList .ant-pagination-item-active {
  background-color: #0054a6;
  border-color: #0054a6;
}

.paginationPostList .ant-pagination-item-active a {
  color: #ffffff !important;
}

.paginationPostList .ant-pagination-item:hover {
  border-color: #0054a6;
}

.paginationPostList .ant-pagination-item:hover a {
  color: white;
}

.post-card-link {
  text-decoration: none;
  color: inherit;
}

.post-card-link:hover {
  opacity: 0.9;
}
