/* Navbar.module.css */
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");

.navbar {
  background-color: rgba(0, 47, 92, 0.8);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  font-family: "Philosopher", "Times New Roman", Times, serif, "Arial Narrow",
    Arial, sans-serif;
  position: relative;
  z-index: 4;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
}

.navbar a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar img {
  width: 113px;
  height: 72px;
  margin: 4px;
}

.navbar a:hover,
.navbar a.activeMenu {
  color: #99ffff;
  text-decoration: underline;
}
