.documents-table-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px 200px 20px 200px; /* Centering the table container */
}

.ant-space {
  margin-bottom: 20px;
}

.ant-input {
  width: 250px;
}

.ant-picker {
  width: 300px;
}

.ant-table {
  border-radius: 12px;
  overflow: hidden;
}

.ant-table-thead > tr > th {
  background-color: #0054a6 !important;
  color: #ffffff !important;
  text-align: center !important;
  font-size: 14px;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  height: 48px;
}

.ant-table-tbody > tr > td {
  text-align: center;
  background-color: #f7faff;
  color: #333333;
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px solid #e1e1e1;
}

.ant-table-tbody > tr:hover {
  background-color: #e6f7ff;
}

.ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #ffffff;
}

.ant-table-pagination {
  justify-content: flex-end;
}

.ant-btn-icon-only {
  color: #003399 !important;
  background: none;
  border: none;
}

.ant-btn-icon-only:hover {
  color: #0056b3 !important;
}

.ant-pagination-item {
  border: none;
  background: none;
}

.ant-pagination-item a {
  color: #003399;
}

.ant-pagination-item-active {
  background-color: white;
  border-radius: 8px;
}

.ant-pagination-item-active:hover {
  background-color: #0054a6 !important;
  color: white !important;
  border-radius: 3px !important;
}

.ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination-prev,
.ant-pagination-next {
  background-color: #f7faff;
  border-radius: 8px;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: #003399;
  border: none;
}
