@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
} */

.about-us {
  position: relative;
  padding: 50px 20px;
  background-color: white;
  margin: 20px 200px;
}
.post-about {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: 4px solid #007bff;
  padding-left: 20px;
  margin-left: 10px;
}
.content-container-home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 0;
}
.content-container-home h2 {
  font-family: "Philosopher", "Times New Roman", Times, serif, "Arial Narrow",
    Arial, sans-serif;
  font-size: 44px;
  text-align: start;
  font-style: normal;
  width: 90%;
  font-weight: 700;
  line-height: normal;
  color: var(--blue-primary-600, #003f7d);
}

.text-content-home {
  flex: 1;
  margin-right: 20px;
}

.text-content-home h3 {
  color: #555;
  font-weight: normal;
  margin-bottom: 10px;
}

.text-content p {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.text-content ul {
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.text-content ul li {
  margin-bottom: 5px;
}

.btn-about {
  background-color: var(--blue-primary-500, #0054a6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.image-content {
  position: relative;
  width: 300px;
  height: auto;
}

.image-content .image-1 {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-content .image-2 {
  position: absolute;
  bottom: -130px; /* Điều chỉnh vị trí theo trục Y */
  right: -50px; /* Điều chỉnh vị trí theo trục X */
  width: 300px; /* Kích thước của hình ảnh 2 */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Đảm bảo hình ảnh thứ hai nằm trên hình ảnh thứ nhất */
}
