body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.services-section {
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 200px;
}

.header h4 {
  color: var(--gray-gray-600, #4d4d4d);
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.header h2 {
  color: var(--blue-primary-600, #003f7d);
  font-size: 32px;
  margin-bottom: 10px;
}

.header p {
  color: #555;
  font-size: 16px;
  margin-bottom: 40px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: calc(100% - 350px);
  margin: 3px;
}

.service-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 340px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-content {
  padding: 20px;
}

.service-title {
  color: #0056b3;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.service-description {
  color: #555;
  font-size: 14px;
  text-align: center;
}
